.VideoModal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 90%;
    height: 90%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    z-index: 100;
    left: 5%;
    bottom: 5%;

    box-sizing: border-box;
    transition: all 0.3s ease-out;

    overflow: scroll; 
}


.VideoFrame {
    width: -webkit-fill-available;
}