.Panel {
    padding: 2%;
    padding-bottom: 4%;
    background-color: rgb(107, 206, 209); 
    height: 600px;
    width: 400px;
    z-index: 10;
    position: absolute; 
    right: 15px;
    top: 50px;
    opacity: 60%;
    overflow: scroll;
}

.ButtonPanel {
    padding: 0; 
    bottom: 0;
}