.Panel {
    padding: 2%;
    padding-bottom: 4%;
    background-color: burlywood; 
    height: 600px;
    width: 400px;
    z-index: 10;
    position: absolute; 
    right: 15px;
    top: 50px;
}

.ButtonPanel {
    padding: 0; 
    bottom: 0;
}